<a href="https://colab.research.google.com/github/Seul04/colab/blob/main/09-06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6장 예제

In [4]:
myList = ["가위", 1, 29, "안산", "공고"]
temp = input("입력 : ")
if temp in myList :
  print(temp, "리스트 목록에 있습니다. ")

입력 : 가위
가위 리스트 목록에 있습니다.

튜토리얼

In [5]:
fact = 1
for i in range(1, 6, 1) :
  fact = fact * 1
print(fact)

1

In [7]:
fact = 1
friends_num = 5

for i in range(1, friends_num + 1, 1):
  fact = fact * 1

print("A, B, C, D, E 학셍들을 순서대로 세우는 경우의 수 : ", fact)

A, B, C, D, E 학셍들을 순서대로 세우는 경우의 수 :  1

In [8]:
hap = 0

for i in range(1, 11, 1):
  hap = hap + i

print("1에서 10까지의 합 : ", hap)

1에서 10까지의 합 :  55

In [ ]:
>>> for i in range (3) :
        for k in range(2) :
          print("난생처음은 쉽습니다. ^^(i값:", i", k값", k,")")

In [12]:
i = 0 
j = 0

for i in range(2, 10) :
  for j in range(1, 10) :
    print(i, "X", j, "=", i * j)
  print("")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [13]:
for i in range(0, 3, 1) :
  print(i, ": 난생처음 파이썬은 재미있습니다. ^^")

0 : 난생처음 파이썬은 재미있습니다. ^^
1 : 난생처음 파이썬은 재미있습니다. ^^
2 : 난생처음 파이썬은 재미있습니다. ^^

In [ ]:
i=0
while (1 < 3) :
  print(i" : 난생처음 파이썬은 재미있습니다. ^^")

In [ ]:
hap = 0
num1, num2 = 0, 0

while True :
  num1 = int(input("숫자1 ==> "))
  num2 = int(input("숫자2 ==> "))

  hap = num1 + num2
  print(num1, "+", num2, "=", hap)

숫자1 ==> 100
숫자2 ==> 30
100 + 30 = 130

In [ ]:
while True :
  num1 = float(input("숫자1=>"))
  if num1 == 0 :
    break
  num2 = float(input("숫자2=>"))
  print(num1, "+", num2, "=", num1 + num2)

In [ ]:
import random
r1 = rnandom.randint(1, 6)
r2 = rnadom.rnadint(1,6)
r3 = random.rnadint(1,6)
count = count + 1
if r1 == r2 == r3 :
  break
print("3개의 주사위는 모두", r1, "입니다")
print("같은 숫자가 나오기가지", count, "번 던졌습니다.")

In [ ]:
너무 졸ㄹ려요