<a href="https://colab.research.google.com/github/Seul04/colab/blob/main/%EC%88%98%ED%96%89%ED%8F%89%EA%B0%80(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**문제 (1)**

In [4]:
j = 0
j = 0

for i in range(1, 10) :
  for j in range(1, 10) :
    print(i, 'X', j, "=", j * j)
  print("")

1 X 1 = 1
1 X 2 = 4
1 X 3 = 9
1 X 4 = 16
1 X 5 = 25
1 X 6 = 36
1 X 7 = 49
1 X 8 = 64
1 X 9 = 81

2 X 1 = 1
2 X 2 = 4
2 X 3 = 9
2 X 4 = 16
2 X 5 = 25
2 X 6 = 36
2 X 7 = 49
2 X 8 = 64
2 X 9 = 81

3 X 1 = 1
3 X 2 = 4
3 X 3 = 9
3 X 4 = 16
3 X 5 = 25
3 X 6 = 36
3 X 7 = 49
3 X 8 = 64
3 X 9 = 81

4 X 1 = 1
4 X 2 = 4
4 X 3 = 9
4 X 4 = 16
4 X 5 = 25
4 X 6 = 36
4 X 7 = 49
4 X 8 = 64
4 X 9 = 81

5 X 1 = 1
5 X 2 = 4
5 X 3 = 9
5 X 4 = 16
5 X 5 = 25
5 X 6 = 36
5 X 7 = 49
5 X 8 = 64
5 X 9 = 81

6 X 1 = 1
6 X 2 = 4
6 X 3 = 9
6 X 4 = 16
6 X 5 = 25
6 X 6 = 36
6 X 7 = 49
6 X 8 = 64
6 X 9 = 81

7 X 1 = 1
7 X 2 = 4
7 X 3 = 9
7 X 4 = 16
7 X 5 = 25
7 X 6 = 36
7 X 7 = 49
7 X 8 = 64
7 X 9 = 81

8 X 1 = 1
8 X 2 = 4
8 X 3 = 9
8 X 4 = 16
8 X 5 = 25
8 X 6 = 36
8 X 7 = 49
8 X 8 = 64
8 X 9 = 81

9 X 1 = 1
9 X 2 = 4
9 X 3 = 9
9 X 4 = 16
9 X 5 = 25
9 X 6 = 36
9 X 7 = 49
9 X 8 = 64
9 X 9 = 81

**문제 (2)**

In [6]:
hap, i=0,0

for i in range(1,101) :
    if i  % 4==0 :
        continue

    hap+=i


print("1~100의 합계(4의 배수 제외) : %d" % hap)

1~100의 합계(4의 배수 제외) : 3750

**문제 (3)**

In [8]:
import random

count = 0
dice1, dice2, dice3 = 0,0,0

while True :
  count +- 1
  dice1 = random.randint(1, 6)
  dice2 = random.randint(1, 6)
  dice3 = random.randint(1, 6)

  if (dice1 == dice2 == dice3) :
    break

print("3개의 주사위는 모두", dice1, "입니다.")
print("같은 숫자가 나오기까지", count, "번 던졌습ㄴ디ㅏ.")

3개의 주사위는 모두 5 입니다.
같은 숫자가 나오기까지 0 번 던졌습ㄴ디ㅏ.

**문제 (4)**